################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PizzaOlo/.vs/PizzaOlo/v15
/VBNET/PizzaOlo/.vs/PizzaOlo/v16
